// @import './scss/foundation-icons/foundation-icons.css';
@import '~foundation-sites/dist/css/foundation.css';
@import '~foundation-sites/scss/foundation';
// @import '~devicon/devicon.min.css';
@import '~devicon/devicon.css';
// @import './foundation-icons/foundation-icons.css';

$sticky-shrinknav-menu-height: 5rem;
// $sticky-shrinknav-menu-height: rem-calc(60);
$sticky-shrinknav-hero-height: 270px;
$menu-underline-from-center-border-thickness: .25rem;
$dark-purple: #2e034b;
$purple: lighten($dark-purple, 7%);
// $purple: #5b158b;
// $grey: #dedcdc;

$silver: #c0c0c0;
$nav-footer-color: $silver;

$background-color: lighten($dark-purple, 85%);
// $background-color: lighten($silver, 10%);
// $heading: #e9e7eb;

a {
  color: $purple;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
  padding-top: $sticky-shrinknav-hero-height + 30px;
}

h1 {
  color: $dark-purple;
  letter-spacing: .2rem;
}

h2 {
  border: 0;
  // color: $silver;
  color: $dark-purple;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
}


.about-me-div {
  // align-self: center;
  // display: flex;
  // justify-content: center;
  font-size: 1.5rem;
  min-width: 30rem;
  padding: 0 25%;
  text-align: justify;
  // width: 100%;
}

h3 {
  a {
    left: 0;

    &:hover {
      border-bottom: solid $dark-purple;
      color: $purple;
      font-size: 2.5rem;
      // font-weight: 500;
      transition: .5s ease;
    }
  }
}

.button {
  // background-color: lighten($silver, 10%);
  color: $purple;
}

.sticky-shrinknav-wrapper {
  padding-top: 130px;
  // max-width: 100vw;
  width: 99vw;

  .sticky-shrinknav-header {
    background-color: rgba($nav-footer-color, 0.9);
    height: $sticky-shrinknav-menu-height;

    .sticky-shrinknav-header-title {
      // color: $dark-purple;
      // letter-spacing: .2rem;
      transform: scale(0);
      transition: all .3s ease;
    }
  }
}

.sticky-shrinknav-header-title {
  border: 0;
  font-size: 4em;
  // max-height: calc(100% / 4);
  margin: 0;
  min-width: 600px;
  // overflow: hidden;
  padding: 0;
  // padding-top: 40px;
  // padding-bottom: 1rem;
  // margin-bottom: 0;
  position: relative;
  transform: translateY(-$sticky-shrinknav-menu-height/2);
  transition: all .3s ease;
}

.contact-info-headline {
  border: 0;
  color: $dark-purple;
  font-size: 2.5em;
  letter-spacing: .1rem;
  transform: translateY(-$sticky-shrinknav-menu-height/2);
}

.sticky-shrinknav-header {
  align-items: center;
  background-color: lighten($silver, 15%);
  display: flex;
  flex-flow: column nowrap;
  height: $sticky-shrinknav-hero-height;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all .5s ease;
  width: 100%;
}

.sticky-shrinknav-menu {
  @include horizontal-center;
  bottom: 1rem;
  width: 100%;
  // height: 5rem;
  // line-height: 5rem;
  // background-color: rgba($primary-color, 0.1);
  // transition: all .5s ease;
}

.hover-underline-menu {
  .menu {
    font-size: 2rem;
    transition: all .9s ease;
    // border-bottom: 0;
    // display: flex;
    // flex-flow: row nowrap;
    // justify-content: space-around;
    // list-style-type: none;
    // width: 100%;

    a {
      color: $purple;
      // border-radius: 2px;
      // text-decoration: none;

      span {
        padding: .5rem;
        @media screen and (max-width: 1150px) {
          display: none;
        }
      }
    }
  }
}

.underline-from-center {
  position: relative;

  &::after {
    border-bottom: $menu-underline-from-center-border-thickness solid $dark-purple;
    // border: solid;
    content: '';
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 50%;
    top: calc(100% - #{$menu-underline-from-center-border-thickness});
    transition: all .3s ease;
  }

  &:hover::after {
    left: 0;
    right: 0;
    transition: all .5s ease;
  }
}

section {
  padding-bottom: 7rem;
}

.project {
  padding: 0 3rem 3rem;
}

.project-description {
  font-size: 1.25rem;
  // font-style: Futura;
  margin-bottom: 0;
  // text-align: justify;
}

.project-technologies,
.technologies-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;


  span {
    font-size: 1.25rem;
    padding: 3px 7px;
  }
}

.project-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  .button.hollow {
    border: .1rem solid $purple;
    border-radius: .5rem;
    color: $purple;
    font-size: 1.2rem;
    padding: .5rem;
    text-align: center;
    // text-decoration: none;

    &:hover {
      background-color: lighten($silver, 15%);
      border: .15rem solid $dark-purple;
      font-size: 1.4rem;
      font-weight: 500;
      transition: .4s ease;
      margin: .2rem;
    }
  }
}

.technologies-list {
  // padding-bottom: 7rem;

  i {
    font-size: 1.5rem;
    padding: 15px;

    span {
      font-size: 2rem;
      padding-left: 3px;
    }
  }
}

footer {
  background-color: $nav-footer-color;
  line-height: $sticky-shrinknav-menu-height;
  width: 100vw;
  // align-content: center;
  // height: $sticky-shrinknav-menu-height;
  // text-align: center;
}
